// 旋转
time()
  transition .5s
  -ms-transition .5s
  -webkit-transition .5s
rotateA()
  transform rotate(-180deg)
  -ms-transform rotate(-180deg)
  -webkit-transform rotate(-180deg)
  time()
rotateB()
  transform rotate(0deg)
  -ms-transform rotate(0deg)
  -webkit-transform rotate(0deg)
  time()